build/**
.vscode/**
.cache/**
CMakeFiles/**
src/test
# Local-only files
CMakeUserPresets.json
.clangd
CMakeCache.txt
cmake_install.cmake
# Temp files 
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
